@use "sass:color";
@use "../abstracts/" as *;
.accordions-container {
  display: flex;
  flex-direction: column;
  align-self: normal;
  gap: rem(25);

  @include min-width-query(breakpoint(desktop)) {
    flex-direction: row;
    align-self: unset;
  }
}
.accordion {
  ///////////////////////////////////////////////////////////////////
  ////////////// Accordion button
  &__btn {
    // Adjust arrows placement
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: color-neutral(very-dark-grayish-blue);

    // Add space between "accordion__link" and accordion Arrow
    gap: 0 rem(5);

    @include min-width-query(breakpoint(desktop)) {
      color: color-neutral(white);
    }

    // Add arrows next to "accordion__link"
    &::after {
      content: url("/src/images/icon-arrow-dark.svg");
      display: block;
      height: rem(10);
      width: rem(10);
      transform: rotate(180deg) translateY(-86%);
      transition: 300ms ease;
      @include min-width-query(breakpoint(desktop)) {
        content: url(/src/images/icon-arrow-light.svg);
      }
    }
  }
  // Utility class
  &__btn.close {
    // Change active accordion color
    color: color-neutral(very-dark-black-blue);
    &::after {
      // Rotate accordion arrow
      transform: rotate(360deg);
    }

    //
    @include min-width-query(breakpoint(desktop)) {
      color: color-neutral(grayish-white);
      &:hover {
        color: color-neutral(white);
        text-decoration: underline;
      }
    }
  }

  //////////////////////////////////////////////////////////////////
  ////////////// Accordion content
  &__links {
    padding: rem(10) rem(25);
    background-color: lighten($color: color-neutral(grayish-blue), $amount: 15);

    // Nested anchor elements
    * {
      font-size: rem(15);
      font-weight: 600;
      color: color-neutral(very-dark-grayish-blue);
      text-align: center;

      &:hover {
        color: color-neutral(very-dark-black-blue);
      }
    }

    @include min-width-query(breakpoint(desktop)) {
      position: absolute;
      width: 7.5%;
      border-radius: rem(5);
      box-shadow: rem(5) rem(5) rem(5) rgba($color: #000000, $alpha: 0.3);

      * {
        font-size: rem(13);
        text-align: left;
      }
      *:hover {
        font-weight: 700;
      }
    }

    // add padding to all links
    > * {
      margin: rem(12) 0;
      // Align l
    }
  }

  &__links.collapse {
    display: none;
  }

  &__links.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 350ms ease;
  }

  &__links.collapse-open {
    display: block;
  }
}
