@use "../abstracts" as *;

.btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: rem(20);
  padding: rem(10) rem(15);
  color: color-neutral(white);
  background: $btn-gradient;
  font-family: font(ubuntu), sans-serif;
  font-weight: 700;
  font-size: size(sm-3);
  transition: background-color 200ms ease, transform 200ms ease;

  &--transparent {
    border: rem(1) solid color-neutral(white);
    color: color-neutral(white);
    background: transparent;
  }

  &--white {
    color: color-primary(light-red);
    background: color-neutral(white);
  }
}
