@use "../abstracts/" as *;

.card {
  // prettier-ignore
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "img"
    "txtOne"
    "txtTwo";
  text-align: center;

  @include set-mq(min-width, get-bp(xl)) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "img txtOne"
      "img txtTwo";
    grid-auto-rows: rem(240);
    align-items: center;
    text-align: left;
  }

  &--1-row {
    @include set-mq(min-width, get-bp(xl)) {
      grid-template-areas: "img txtOne";
    }
  }

  &--invert-order {
    @include set-mq(min-width, get-bp(xl)) {
      grid-template-areas:
        "txtOne img"
        "txtTwo img";
    }
  }

  &--pad {
    padding-block: rem(210) rem(85);
    @include set-mq(min-width, get-bp(lg)) {
      padding-block: rem(60);
      padding-inline: rem(125);
    }
  }

  &--bg-gradient {
    background: url(/src/images/bg-pattern-circles.svg) no-repeat,
      get-bg-gradient(card);
    background-position: center -230px, 0;
    background-size: 580px auto, auto;

    @include set-mq(min-width, get-bp(xl)) {
      background-position: -60% 85%, 0;
      background-size: 1050px auto, auto;
    }
  }

  &--diag-round-border {
    border-radius: 0 rem(120) 0 rem(120);
  }

  &__text-container {
    padding-block: 5%;

    &[data-text-container="1"] {
      grid-area: txtOne;
    }

    &[data-text-container="2"] {
      grid-area: txtTwo;
    }
  }

  &__title {
    margin-block-end: rem(16);
    font-weight: 500;
    font-size: size(lg-3);
    color: color-primary(very-dark-blue);

    @include set-mq(min-width, get-bp(xl)) {
      font-size: size(lg-2);
    }

    &--lg-font {
      font-size: size(lg-4);
    }

    &--light {
      color: color-neutral(white);
    }
  }

  &__text {
    line-height: rem(25);
    font-weight: 300;
    color: color-neutral(very-dark-grayish-blue);

    @include set-mq(min-width, get-bp(xl)) {
      font-size: size(sm-3);
    }

    &--light {
      color: color-neutral(grayish-white);
    }
  }

  &__img-container {
    @include set-mq(min-width, get-bp(xl)) {
      // grid-column: 1 / span 1;
      // grid-row: 1 / span 2;
      grid-area: img;
    }
  }

  &__img {
  }
}
