@use "../abstracts" as *;

.dropdown {
  &__toggle {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: color-neutral(very-dark-grayish-blue);

    // Add space between "accordion__link" and accordion Arrow
    gap: 0 rem(5);

    @include set-mq(min-width, get-bp(lg)) {
      color: color-neutral(white);
    }

    // Add arrows next to "accordion__link"
    &::after {
      content: url("/src/images/icon-arrow-dark.svg");
      display: block;
      height: rem(10);
      width: rem(10);
      transform: rotate(180deg) translateY(-86%);
      transition: 300ms ease;
      @include set-mq(min-width, get-bp(lg)) {
        content: url(/src/images/icon-arrow-light.svg);
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(25) rem(20);
    row-gap: rem(15);
    opacity: 1;
    transition: opacity 250ms ease-in-out;
    background-color: get-bg-color(dropdown-menu);

    @include set-mq(min-width, get-bp(lg)) {
      align-items: flex-start;
      row-gap: rem(10);
      position: absolute;
      width: 7.5%;
      border-radius: rem(5);
      box-shadow: rem(5) rem(5) rem(5) rgba($color: #000000, $alpha: 0.3);
      background-color: get-bg-color(dropdown-menu-lg);
    }
  }
}

.close {
  // Change active accordion color
  color: color-neutral(very-dark-black-blue);
  &::after {
    // Rotate accordion arrow
    transform: rotate(360deg);
  }

  @include set-mq(min-width, get-bp(lg)) {
    color: color-neutral(grayish-white);
    &:hover {
      color: color-neutral(white);
      text-decoration: underline;
    }
  }
}

.collapse {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 350ms ease;
}

.collapse-open {
  display: block;
}
