@use "../abstracts/" as *;

.nav {
  display: flex;
  flex-direction: column;
  align-self: normal;
  gap: rem(25);

  @include set-media-query(min-width, get-bp(desktop)) {
    flex-direction: row;
    align-self: unset;
  }
}
