@use "../abstracts/" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   display: inline-block;
  position: relative;
  @include set-mq(min-width, get-bp(desktop)) {
    width: 100%;
    margin: 0 0 0 rem(50);
  }

  align-self: normal;

  &__logo {
    width: clamp(5.85rem, 7.013%, 6.31rem);
  }

  &__toggle {
    cursor: pointer;
    width: 60px;
    height: 60px;

    outline: 0;
    border: 0;
    border-radius: 50%;
    padding: rem(15) rem(10);
    background-color: transparent;

    // Hide btn in desktop size
    @include set-mq(min-width, get-bp(desktop)) {
      display: none;
    }

    // Create background shadow effect on click
    &:active {
      animation: btnOnClick 280ms ease-out;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: rem(25);

    width: 80vw;

    border-radius: rem(5);
    padding: rem(25) rem(15);

    background-color: color-neutral(white);

    // Relative to "dropdown-btn" class
    position: absolute;
    top: 175%;
    right: 0;
    overflow: hidden;
    z-index: 1;

    @include set-mq(min-width, get-bp(desktop)) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      transform: unset;
      position: unset;
      background-color: transparent;
    }
  }
}

.menu-close {
  display: none;
}

.closing {
  height: 0;
  overflow: hidden;
  transition: height 350ms ease;
}

.toggle-close::after {
  content: url("/src/images/icon-hamburger.svg");
}

.toggle-open::after {
  content: url("/src/images/icon-close.svg");
}
