@use "../abstracts/" as *;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5% 20%;
  &__heading {
    padding-block: 20% 10%;
    @include min-width-query(breakpoint(desktop)) {
      padding-block: 5%;
    }
  }
}
