@use "../abstracts" as *;

.header {
  grid-row: 1 / 2;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-block: rem(44) rem(129);

  // Choose the smallest value
  padding-inline: Min(rem(25), 6%);
  border-bottom-left-radius: rem(85);
  background: left / 140% no-repeat url(/src/images/bg-pattern-intro.svg),
    gradient(gradient1);

  &__learn-btn {
    margin-inline-start: rem(7);
    @include hover-bg-color(transparent);
  }

  &__start-btn {
    @include hover-bg-color;
  }
}

.header__heading {
  padding-inline: rem(20);
  margin-block: rem(100) rem(40);

  &-main {
    margin-block-end: rem(15);
  }
}

@include media-min(64em) {
  .header {
    // Choose the biggest value
    padding-inline: Max(rem(150), 11%);
  }
}
