@use "../abstracts" as *;

.header {
  grid-row: 1 / 2;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-block: rem(44) rem(129);

  // Choose the smallest value
  padding-inline: Min(rem(25), 6%);
  border-bottom-left-radius: rem(85);
  background-image: url(/src/images/bg-pattern-intro.svg),
    get-bg-gradient(header);
  background-size: 330%, 100%;
  background-repeat: no-repeat;
  background-position: 35% 33%, 0;
  @include set-mq(min-width, get-bp(xl)) {
    background-position: 10% 50%, 0;
    background-size: 175%, 100%;
  }

  &__learn-btn.btn {
    margin-inline-start: rem(7);
    padding-inline: rem(18);
    // @include hover-bg-color(transparent);
  }

  &__start-btn.btn {
    // @include hover-bg-color;
  }
}

.header__heading {
  padding-inline: rem(20);
  margin-block: rem(100) rem(40);

  &-main {
    margin-block-end: rem(15);
  }
}

@include set-mq(min-width, 64em) {
  .header {
    // Choose the biggest value
    padding-inline: Max(rem(150), 11%);
  }
}
