@use "../abstracts/" as *;
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  align-self: normal;
  // padding: rem(60) rem(25);

  &__logo {
    width: clamp(5.85rem, 7.013%, 6.31rem);
  }

  &__accordion {
    // Make "accordion__content" background-color fill the entier area
    align-self: normal;

    @include media-min(breakpoint(desktop)) {
      align-self: unset;
    }
  }

  &__login-container {
    @include media-min(breakpoint(desktop)) {
      margin-inline-start: auto;
    }
  }

  &__login-btn.btn {
    // Change .button default color for mobile size
    color: color-neutral(very-dark-grayish-blue);
    border: 0;
    @include hover-bg-color(transparent);
    // media query
    @include media-min(breakpoint(desktop)) {
      color: color-neutral(white);
    }
  }

  &__sign-btn {
    margin-inline-start: rem(7);
    padding: rem(10) rem(30);
    @include hover-bg-color;
  }
}
