@use "../abstracts/" as *;

html {
  font-size: $base-font-size;
}

body {
  font-family: fm(overpass), sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

//////////////////////////////////
// Sections
.header__heading {
  text-align: center;
  color: color-neutral(white);

  &-main {
    font-weight: 500;
    @include set-mq(min-width, get-bp(lg)) {
      font-size: size(lg-5);
    }
  }

  &-sub {
    font-weight: 300;
  }
}

// .nav {
//   &__login-btn.btn {
//     font-family: fm(overpass);
//     font-size: size(md-1);
//     font-weight: 600;
//     color: color-neutral(very-dark-grayish-blue);

//     @include set-mq(min-width, get-bp(lg)) {
//       font-family: fm(ubuntu);
//       font-size: size(sm-2);
//       color: color-neutral(white);
//     }
//   }

//   &__sign-btn.btn {
//     // font-size: ;
//     @include set-mq(min-width, get-bp(lg)) {
//       color: color-primary(light-red);
//     }
//   }
// }

.content {
  &__heading {
    @include set-mq(min-width, get-bp(lg)) {
      font-size: size(lg-4);
    }
    font-weight: 500;
    color: color-primary(very-dark-blue);
  }
}

.content__card-2 {
  &-title.card__title {
    font-size: size(lg-4);
    color: color-neutral(white);
  }

  &-text.card__text {
    color: color-neutral(grayish-white);
  }
}

// Footer links here (Product, Company, Connect)
.footer {
  &__links-container {
    text-align: center;
    text-decoration: 0;
    color: color-neutral(grayish-blue);
  }

  &__links-heading {
    // Add space between heading and links
    line-height: rem(65);
    color: color-neutral(white);
  }

  &__links {
    // Add space between links
    line-height: rem(30);
    a {
      color: color-neutral(grayish-blue);
    }
  }
}
