@use "../utils.scss" as *;

.section {
  // prettier-ignore
  position: relative;
  display: grid;
  grid-template-columns: subgrid;
  grid-auto-rows: min-content;
  text-align: center;
  justify-items: center;
  row-gap: rem(50);

  @media screen and (min-width: 75em) {
    grid-auto-rows: rem(240);
    align-items: center;
    text-align: left;
  }
}
