@use "functions" as *;
@use "variables" as *;
@use "mixins" as *;

.pad {
  &--x-1 {
    padding-inline: 10%;
  }

  &--x-2 {
    padding-inline: 14%;
  }

  &--x-3 {
    padding-inline: 20%;
  }

  &--r-3 {
    @include min-width-query(breakpoint(desktop)) {
      padding-inline-end: 30%;
      padding-inline-start: 0;
    }
  }

  &--r-2 {
    @include min-width-query(breakpoint(desktop)) {
      padding-inline-end: 18%;
    }
  }

  &--r-1 {
    @include min-width-query(breakpoint(desktop)) {
      padding-inline-end: 16.7%;
    }
  }

  &--l {
    @include min-width-query(breakpoint(desktop)) {
      padding-inline-start: 22%;
    }
  }
}

/* Margin */ /////////////////////////////////////////////////////////////////
//////////////
.mg--y {
  margin-block: 30vh 18%;
}
