@use "functions" as *;
@use "variables" as *;
@use "mixins" as *;

.pad {
  &--x-1 {
    padding-inline: 10%;
  }

  &--x-2 {
    padding-inline: 14%;
  }

  &--x-3 {
    padding-inline: 20%;
  }

  &--y-1 {
    padding-block: rem(210) rem(85);
  }

  &--r-1 {
    padding-inline-end: rem(85);
  }

  &--r-xl-13 {
    @include set-mq(min-width, get-bp(xl)) {
      padding-inline-end: 13%;
    }
  }

  &--r-xl-14 {
    @include set-mq(min-width, get-bp(xl)) {
      padding-inline-end: 14%;
    }
  }

  &--r-xl-18 {
    @include set-mq(min-width, get-bp(xl)) {
      padding-inline-end: 18%;
    }
  }

  &--r-xl-40 {
    @include set-mq(min-width, get-bp(xl)) {
      padding-inline-end: 40%;
      padding-inline-start: 0;
    }
  }

  &--l-1 {
    padding-inline-start: rem(210);
  }

  &--l-xl {
    @include set-mq(min-width, get-bp(xl)) {
      padding-inline-start: 22%;
    }
  }
}

/* Margin */ /////////////////////////////////////////////////////////////////
//////////////
.mg {
  &--y {
    margin-block: 30vh 18%;
  }

  /* Top start */
  &--t-xs-75 {
    @include set-mq(min-width, get-bp(xs)) {
      margin-block-start: 75%;
    }
  }

  &--t-lg-45 {
    @include set-mq-range(get-bp(lg), get-bp(xl)) {
      margin-block-start: 45%;
    }
  }

  &--t-xl-14 {
    @include set-mq(min-width, get-bp(xl)) {
      margin-block-start: 14%;
    }
  }
  /* Top end*/
  &--b-18 {
    margin-block-end: 18%;
  }

  &--l-1 {
    margin-inline-start: rem(7);
  }

  &--l-2 {
    margin-inline-start: rem(15);
  }
}

.border {
  &--t {
    border-block-start: scale-color(
        $color: color-neutral(grayish-blue),
        $lightness: 40%
      )
      solid rem(1);
  }
}

.position {
  &--abs {
    position: absolute;
  }

  &--abs-xl {
    @include set-mq(min-width, get-bp(xl)) {
      position: absolute;
    }
  }

  &--static-lg {
    @include set-mq(min-width, get-bp(xl)) {
      position: static;
    }
  }
}

.left {
  &--xl-15 {
    @include set-mq(min-width, get-bp(xl)) {
      left: 15%;
    }
  }
}

.right {
  &--xl-5 {
    @include set-mq(min-width, get-bp(xl)) {
      right: 5.5%;
    }
  }
}

.top {
  &--xl-n41 {
    @include set-mq-range(get-bp(xl), get-bp(xxl)) {
      top: -41%;
    }
  }

  &--xl-n50 {
    @include set-mq(min-width, get-bp(xl)) {
      top: -50%;
    }
  }
}

.bottom {
  &--xs-65 {
    bottom: 65%;
  }
}

.wd {
  &--100 {
    width: 100%;
  }

  &--xl-90 {
    @include set-mq(min-width, get-bp(xl)) {
      width: 90%;
    }
  }

  &--xl-60 {
    @include set-mq(min-width, get-bp(xl)) {
      width: 60vw;
    }
  }
}
