@use "sass:math";
@use "sass:color";

$rem-fn-arg: 16;
$base-font-size: math.div(16, 16) * 1rem;

// prettier-ignore
$breakpoints: (
  xs: 0, // < 576px
  sm: 36em, // >= 576px
  md: 48em, // >= 768px
  lg: 63em, // >= 1024px
  xl: 75em, // >= 1200px
  xxl: 90em // >= 1440px
);

$font-family: (
  overpass: "Overpass",
  ubuntu: "Ubuntu",
);
// prettier-ignore
$font-size: (
  sm-1: 0.625rem, // 10px
  sm-2: 0.8215rem, // 13px
  sm-3: 0.875rem, // 14px
  md-1: 1rem, // 16px
  lg-1: 1.125rem, // 18px
  lg-2: 1.4rem, // 22.5px
  lg-25: 1.593rem, // 25.5px
  lg-3: 1.625rem, // 26px
  lg-4: 2.125rem, // 34px
  lg-5: 3.75rem, // 60px
);

$colors-primary: (
  light-red: #ff525d,
  very-light-red: #ff7a85,
  very-dark-blue: #1f3f5b,
);

$colors-neutral: (
  white: #ffffff,
  grayish-white: #e4e4e5,
  grayish-blue: #c8c8cb,
  very-dark-grayish-blue: #4b5862,
  very-dark-black-blue: #25252d,
);

$gradient: (
  // Background gradient - Intro/CTA mobile nav
  gradient-1: #ff8f70,
  gradient-2: #ff3d54,
  // Background gradient - body
  gradient-3: #2c2d3f,
  gradient-4: #3f4164
);

$bg-color: (
  dropdown-menu:
    color.adjust(map-get($colors-neutral, grayish-white), $lightness: 5%),
  dropdown-menu-lg: map-get($colors-neutral, white),
);

$bg-gradient: (
  header: linear-gradient(135deg, #ff8f70, #ff3d54 100%),
  card: linear-gradient(135deg, #2c2d3f 33%, #3f4164 100%),
  btn: linear-gradient(135deg, #ff8f70, #ff3d54),
);

// $header-gradient: linear-gradient(
//   135deg,
//   map-get($gradient, gradient-1),
//   map-get($gradient, gradient-2) 100%
// );

// $card-gradient: linear-gradient(
//   135deg,
//   map-get($gradient, gradient-3) 33%,
//   map-get($gradient, gradient-4) 100%
// );

// $btn-gradient: linear-gradient(
//   135deg,
//   map-get($gradient, gradient-1),
//   map-get($gradient, gradient-2)
// );

// $utilities: (
//   "padding-inline-start": (
//     "prefix": "pl",
//     "values": (
//       "0": 0,
//       "1": 2,
//     ),
//   ),
//   "padding-inline-end": (
//     "prefix": "pr",
//     "values": (
//       "0": 0,
//       "1": 1,
//     ),
//   ),
// );

// @each $prop, $map in $utilities {
//   $prefix: map-get($map, "prefix");
//   $values: map-get($map, "values");

//   @each $k, $v in $values {
//     .#{$prefix}-#{$k} {
//       #{$prop}: $v;
//     }
//   }
// }
